<h2>{{formHeader}}</h2>
<form method="post">
    <div class="form-group">
        <label for="name">Jméno</label>
        <input type="text" class="form-control" id="name" name="name" value="{{employee.name}}" required>
        {{#errors.name}}<div class="d-block invalid-feedback">{{errors.name}}</div>{{/errors.name}}
    </div>
    <div class="form-group">
        <label for="surname">Příjmení</label>
        <input type="text" class="form-control" id="surname" name="surname" value="{{employee.surname}}" required>
        {{#errors.surname}}<div class="d-block invalid-feedback">{{errors.surname}}</div>{{/errors.surname}}
    </div>
    <div class="form-group">
        <label for="job">Pozice</label>
        <input type="text" class="form-control" id="job" name="job" value="{{employee.job}}" required>
        {{#errors.job}}<div class="d-block invalid-feedback">{{errors.job}}</div>{{/errors.job}}
    </div>
    <div class="form-group">
        <label for="wage">Plat</label>
        <input type="number" class="form-control" id="wage" name="wage" value="{{employee.wage}}">
        {{#errors.wage}}<div class="d-block invalid-feedback">{{errors.wage}}</div>{{/errors.wage}}
    </div>
    <div class="form-group">
        <label for="room">Místnost</label><br>
        <select class="form-control" id="room" name="room">
            {{#homeRoom}}
                <option value="{{room_id}}" style="background: lightblue">{{name}}</option>
            {{/homeRoom}}

            {{#rooms}}
                <option value="{{room_id}}">{{name}}</option>
            {{/rooms}}
        </select>
    </div>
    <div class="form-group" style="margin-bottom: 15px;">
        <label for="keys">Klíče k místnostem</label><br>
        {{#rooms2}}
            <input type="checkbox" id="key{{room_id}}" name="keys[{{room_id}}]" value="{{room_id}}" {{#isActive}}checked{{/isActive}}>
            <label for="keys[{{room_id}}]">{{no}} {{name}}</label><br>
        {{/rooms2}}
    </div >
    <div class="form-group">
        <label for="login">Přihlašovací jméno</label>
        <input type="text" class="form-control" id="login" name="login" value="{{employee.login}}" required>
        {{#errors.login}}<div class="d-block invalid-feedback">{{errors.login}}</div>{{/errors.login}}
    </div>
    {{#update}}
    <div class="form-group">
        <label for="password">Heslo</label>
        <input type="password" class="form-control" id="password" name="password" value="" required>
        {{#errors.password}}<div class="d-block invalid-feedback">{{errors.password}}</div>{{/errors.password}}
    </div>
    {{/update}}

    {{#update2}}
        <div class="form-group">
            <label for="password">Heslo</label>
            <input type="password" class="form-control" id="password" name="password" value="" >
            {{#errors.password}}<div class="d-block invalid-feedback">{{errors.password}}</div>{{/errors.password}}
        </div>
    {{/update2}}

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="admin" name="admin" {{#employee.admin}}checked{{/employee.admin}}>
        <label class="form-check-label" for="admin">Admin</label>
    </div>
    {{#employee.employee_id}}<input type="hidden" name="employee_id" value="{{employee.employee_id}}">{{/employee.employee_id}}

    <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
</form>