<h2>{{formHeader}}</h2>
<form method="post">
    <div class="form-group">
        <label hidden for="employee_id">Identifikátor zaměstnance</label>
        <input type="hidden" class="form-control" id="employee_id" name="employee_id" value="{{key.employee_id}}" required>
        {{#errors.employee_id}}<div class="d-block invalid-feedback">{{errors.employee_id}}</div>{{/errors.employee_id}}
    </div>
    <div class="form-group">
        <label for="room_id">Místnost</label><br>
        <select class="form-control" id="room_id" name="room_id">
            {{#rooms}}
                <option value="{{room_id}}">{{name}}</option>
            {{/rooms}}
        </select>
    </div>
    {{#key.key_id}}<input type="hidden" id="key_id" name="key_id" value="{{key.key_id}}">{{/key.key_id}}

    <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
</form>