<table class='table table-striped'>
    <tr>
        <th>Name</th>
        <th>No.</th>
        <th>Phone</th>
    {{#admin}}
        <th>Actions</th>
    {{/admin}}
    </tr>

    {{#rooms}}
    <tr>
        <td>
            <a href='detail.php?roomId={{room_id}}'>{{name}}</a>
        </td>
        <td>{{no}}</td>
        <td>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</td>
    {{#admin}}
        <td>
            <form action="update.php" method="get" style="display: inline-block">
                <input type="hidden" name="roomId" value="{{room_id}}">
                <input type="submit" value="Upravit" class="btn btn-info">
            </form>
            <form action="delete.php" method="post" style="display: inline-block">
                <input type="hidden" name="roomId" value="{{room_id}}">
                <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat místnost?\nAkce je nevratná!');">
            </form>
        </td>
    {{/admin}}
    </tr>
    {{/rooms}}
    {{^rooms}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/rooms}}

</table>

{{#admin}}
<a href="create.php" class="btn btn-primary">Založit novou místnost</a>
{{/admin}}
